.top__bar {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  padding: 1.6rem 4rem 1rem;
  background-color: #1e2745;
  color: #fff;
}

.back {
  color: #fff !important;
}

.date {
  display: flex;
}

.settings {
  display: flex;
  gap: 1rem;
  padding-right: 1rem;
}
